.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.white-nav{
  display: flex;
  background: white;
  width: 100%;
  color: rgb(0, 0, 0);
  padding-left: 20
  px;
}

.modal{
  margin-top: 20px;
  padding: 20px;
  background: white;
  text-align: left;
}
.Alarm_Main{
  margin-top: 20px;
  padding: 20px;
  background: white;
  text-align: left;
}
.search{
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;

}
.bottom_button{
  padding-left: 20px;
  text-align: center;
  border-bottom: 1px solid grey;
}
.div{
  box-sizing: border-box;
}
.list {
  height: 600px;
  width: 1000px;
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
